<div *ngIf="currentUser">
    <ng-template [ngIf]="currentProfile">
        <button mat-button routerLink="/videos" routerLinkActive="active">Videos</button>
        <button mat-button routerLink="/favorites" routerLinkActive="active">Favorites</button>
    </ng-template>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="account()">
            <span>My account</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <span>Logout</span>
        </button>
    </mat-menu>
</div>
<div *ngIf="currentUser == null">
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
    <button mat-button routerLink="/register" routerLinkActive="active">Register</button>
</div>

